body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #D9D9D9;
}

.infoCard {
    background-color: white;
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 25px;
    position: relative;
    box-shadow: #B0B0B0 -2px -2px 2px inset;
}

    .infoCard::after {
        position: absolute;
        content: '';
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        background: linear-gradient(#ff8232, orangered);
        border-radius: 30px;
        top: -5px;
        left: -5px;
        z-index: -1;
        box-shadow: #B0B0B0 5px 5px 5px;
        transition: box-shadow 0.5s ease;
    }

    .infoCard:hover::after {
        box-shadow: #B0B0B0 10px 10px 10px;
    }

.infoCard p {
    font-size: 20px;
    font: bolder;
    text-shadow: #B0B0B0 2px 2px 2px;
}

.weekIncomeExpense {
    display: none;
}

.monthIncomeExpense {
    display: block;
}

h3 {
    text-shadow: #B0B0B0 3px 3px 3px;
}

.balanceSummary p {
    margin-top: -10px;
}

select {
    border: 1px solid orangered;
    font-size: 20px;
    text-shadow: #B0B0B0 2px 2px 2px;
    box-shadow: #B0B0B0 3px 3px 3px;
    border-radius: 5px;
    cursor:pointer;
}

table {
    background-color: white;
    border-collapse: collapse;
    box-shadow: #B0B0B0 5px 5px 5px;
}

th, td {
    padding: 8px;
    text-align: left;
    color: black;
}

th {
    font-size: 18px;
    text-shadow: #c63408 2px 2px 2px;
    background: linear-gradient(#ff8232, orangered);
    border: 1px solid #c63408;
}

td {
    border: 1px solid #888888;
    text-shadow: #B0B0B0 2px 2px 2px;
}

/*#savingLimitSelection {
    margin-bottom: 5px;
}*/

.progress-container {
    width: 100%;
    background-color: #D9D9D9;
    border-radius: 10px;
    overflow: hidden;
    height: 30px;
    border: 1px solid #888888;
    box-shadow: #B0B0B0 2px 2px 2px;
    margin-top: 15px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg,orangered 90%,#ff8232);
    text-align: center;
    color: black;
    line-height: 20px;
    transition: width 0.5s ease-in-out;
    box-shadow: #B0B0B0 2px 2px 2px;
    text-shadow: #c63408 2px 2px 2px;
    font-size: 20px;
    font-weight: bolder;
}

